<!DOCTYPE html>
<html>
<head>
  <title>시계</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  
             <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
             <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
             <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>

             




</head>
<body>

<%= yield %>

</body>
</html>


